.cards__container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding: 10px 10%;
    justify-content: space-between;
    border: 2px solid whitesmoke;
    
}
.product_card{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #c0c1c1;
    background-color: rgb(224, 219, 219);
    margin-bottom: 40px;
    border-radius: 15px;
    padding: 10px;
}
.product_card h4, p{
    padding: 10px ;
}

.product_card img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;   
}
.card__img{
    margin: 10px;
    /* width: 250px; */
    height: 200px;   
}
.card__img img{
    width: 60%;
}
.background{
    background-image: url(https://t4.ftcdn.net/jpg/04/60/43/25/360_F_460432554_BDQpxzDy7YcorFjzdB5lWPEeD6Tv1Xkb.jpg);
}