.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:whitesmoke;
    height: 10vh;
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    .links{
        width: 50%;
        margin-left: 100px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        gap: 70px;
        font-size: 40px;
    }
    li{
        text-decoration: none;
        font-weight: 650;
        font-size: 20px;
    }
    .profile{
        right:300px
    }
 
